<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Tecno</b>Front</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
                    <div class="input-group mb-3">
                        <input type="email" id="username" name="username" class="form-control" placeholder="login" formControlName="usu_username" aria-describedby="basic-addon2" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="password" name="password" class="form-control" formControlName="usu_contrasena" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </form>
                <p class="mb-1">
                    <a href="#" routerLink="/recordar">Recordar</a>
                </p>
                <p class="mb-0">
                    <a href="#" routerLink="/Registrarse" class="text-center">Registrarse</a>
                </p>
            </div>
        </div>
    </div>
</div>
