.login-box,
a {
    color: white;
}

.social-auth-links,
a {
    color: black;
}

.link-pass {
    color: white;
}

.link-reg {
    color: white;
}

.input-group-text .fas {
    color: rgb(48, 37, 37);
}

.input-group-text .fa-eye,
.input-group-text .fa-eye-slash {
    cursor: pointer;
}