<app-barnav>
</app-barnav>
<app-barinf></app-barinf>
<div class="content-wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Generos</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/index">Home</a></li>
                            <li class="breadcrumb-item active">Genero</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>


        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Genero</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
  <i class="fas fa-minus"></i>
</button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
  <i class="fas fa-times"></i>
</button>
                    </div>
                </div>
                <div class="card-body">

                    <section class="content">

                        <div class="container-fluid">
                            <div class="scroll-container">
                                <!-- Info boxes -->
                                <div class="row table table-bordered table-striped">
                                    <!--inicio_izquierda-->
                                    <div id="izquierda">

                                        <!--inicio_contenedorntc-->
                                        <div *ngFor="let i of genero" id="contenedorntc">

                                            <div id="ntcfondo">
                                                <div id="titulonoticias" class="estilo4"><b>{{i.gen_nombre}}</b></div>
                                                <div id="texxto" class="Estilo5">{{i.gen_descripcion}}</div>
                                                <div id="texxto">
                                                    <a href="#" (click)="openEditProForm(i.gen_Id); $event.preventDefault();">
                                                        <div id="btn_verdocumento"><b>ir</b></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="imagenrnoticia"> <img src="../../../assets/imagenes/{{i.gen_imagen}}" width="80%" height="100%"></div>
                                        </div>
                                        <!--fin_contenedorntc-->
                                    </div>
                                    <!--fin_izquierda-->







                                    <!-- /.col -->
                                </div>
                            </div>
                            <!-- /.row -->



                        </div>

                    </section>





                </div>
                <!-- /.card-body -->
                <div class="card-footer">

                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->



    </div>
    <!-- /.content-wrapper -->
</div>


<style>
    .scroll-container {
        width: 100%;
        height: 700px;
        overflow-y: auto;
        /* Habilita la barra de desplazamiento vertical */
        overflow-x: hidden;
        /* Oculta la barra horizontal */
        border: 1px solid #ccc;
        padding: 10px;
    }
    
    #contenedorntc {
        height: 184px;
        width: 50%;
        float: left;
    }
    
    #ntcfondo {
        z-index: 111;
        height: 190px;
        width: 100%;
        left: 310px;
        top: 0px;
    }
    
    #titulonoticias {
        height: 30px;
        width: 54%;
        float: right;
        margin-top: 5%;
    }
    
    #texxto {
        height: auto;
        width: 50%;
        margin-right: 5px;
        float: right;
    }
    
    #texxto {
        height: auto;
        width: 50%;
        margin-right: 15px;
        float: right;
    }
    
    #btn_verdocumento {
        height: 15px;
        width: 70px;
        float: left;
        margin-top: 5px;
        cursor: pointer;
    }
    
    #imagenrnoticia {
        height: 150px;
        width: 34%;
        float: left;
        margin: -48% 0% 0% 9%;
        padding: 0% 0% 0% 0%;
    }
    
    #izquierda {
        height: auto;
        width: 100%;
        float: left;
    }
</style>
<app-pie></app-pie>