<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/dashboard" class="brand-link">
        <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">



        <span class="brand-text font-weight-light">Prueba Tecnica</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
          <i class="fas fa-search fa-fw"></i>
        </button>
                </div>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li *ngFor="let item of menuItems" class="nav-item">
                    <ng-container *ngIf="item.submenu && item.submenu.length > 0; else singleItem">
                        <a class="nav-link">
                            <i [class]=" item.icono"></i>
                            <p> {{ item.titulo }} </p>
                            <i class="fas fa-angle-left right"></i>
                        </a>
                        <ul class="nav nav-treeview">
                            <li *ngFor="let subMenuItem of item.submenu" class="nav-item">
                                <a [routerLink]=" subMenuItem.routerLink " class="nav-link">
                                    <i [class]=" subMenuItem.icono"></i>
                                    <p> {{ subMenuItem.titulo }} </p>

                                </a>
                            </li>
                        </ul>
                    </ng-container>
                    <ng-template #singleItem>
                        <a [routerLink]="item.routerLink" class="nav-link">

                            <p> {{ item.titulo }} </p>
                            <i [class]="item.icono"></i>
                        </a>
                    </ng-template>
                </li>
                <li *ngFor="let item of secciontems" class="nav-item">
                    <ng-container *ngIf="item.submenu && item.submenu.length > 0; else singleItem">
                        <a class="nav-link">
                            <i [class]=" item.icono "></i>
                            <p> {{ item.titulo }} </p>
                            <i class="fas fa-angle-left right"></i>
                        </a>
                        <ul class="nav nav-treeview">
                            <li *ngFor="let subMenuItem of item.submenu" class="nav-item">
                                <a [routerLink]=" subMenuItem.routerLink " class="nav-link">
                                    <i [class]=" subMenuItem.icono "></i>
                                    <p> {{ subMenuItem.titulo }} </p>
                                </a>
                            </li>
                        </ul>
                    </ng-container>
                    <ng-template #singleItem>
                        <a [routerLink]=" item.routerLink " class="nav-link">
                            <i [class]=" item.icono "></i>
                            <p> {{ item.titulo }} </p>
                        </a>
                    </ng-template>
                </li>



            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
